version: '3.8'
services:
  backend:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      - .:/app
    restart: always
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: maeconecta
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
